/*----------------------------------------------
    # Blog  style here
----------------------------------------------*/
.blog-card-items {
    margin-top: 30px;
    background-color: $white;

    .blog-image {
        position: relative;
        overflow: hidden;

        img {
            @include imgw;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translateX(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
                -moz-transform: translateX(50%) scaleX(2);
                -ms-transform: translateX(50%) scaleX(2);
                -o-transform: translateX(50%) scaleX(2);
            }
        }
    }

    .blog-content {
        padding: 15px 30px 0px 0px;

        ul {
            @include flex;
            gap: 30px;
            margin-bottom: 10px;

            li {
                color: #525252;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;

                &:last-child {
                    list-style-type: disc;
                }
            }
        }

        h3 {
            a {
                display: inline-block;
                position: relative;
                color: $title-color;
                font-family: $heading-font;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
                text-decoration: none;
                transition: width 0.5s ease-in-out;
                -webkit-transition: width 0.5s ease-in-out;
                -moz-transition: width 0.5s ease-in-out;
                -ms-transition: width 0.5s ease-in-out;
                -o-transition: width 0.5s ease-in-out;

                &:hover {
                    text-decoration: underline;
                    color: $theme-color;
                    ;
                }
            }
        }

        .theme-btn-2 {
            position: relative;
            color: $title-color;
            font-family: $body-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;

            i {
                transition: 0.4s ease;
                -webkit-transition: 0.4s ease;
                -moz-transition: 0.4s ease;
                -ms-transition: 0.4s ease;
                -o-transition: 0.4s ease;
            }

            &:before {
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $title-color;
            }

            &:hover {
                color: $theme-color;
                font-family: $body-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;

                i {
                    color: $orange-color;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                }

                &:before {
                    position: absolute;
                    content: '';
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $orange-color;
                }
            }
        }
    }


    &:hover {
        .blog-image {

            img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translateX(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2) {
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}