/*----------------------------------------------
    # Buttons style here
----------------------------------------------*/
.theme-btn {
    display: inline-block;
    position: relative;
    padding: 13px 24px;
    gap: 10px;
    color: $white;
    font-family: $body-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: $theme-color;
    z-index: 1;
    line-height: 1;
    overflow: hidden;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px; 
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    &:before {
        content: "";
        background-color: $theme-color-2; 
        width: 0;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

    &:after {
        content: "";
        background-color: $theme-color-2; 
        width: 0;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

    i {
        margin-left: 10px;
    }

    &:hover {
        background-color: $theme-color-2;
        color: $title-color!important;     
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px; 
        &::before,&::after {
            width: 100%;        
        }
    }

    &.style2{
        padding: 20px 155px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;

        &:hover{ 
         color: $title-color!important;
        }
        @include breakpoint (max-md){
            padding: 21px 80px;
        }
   }

   &.style3{
    background: $theme-color-2;
    color: $title-color;
    &:before {
        content: "";
        background-color: $title-color; 
        width: 0;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

    &:after {
        content: "";
        background-color: $title-color; 
        width: 0;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
    &:hover{
        background: $theme-color;
        color: $white!important;        
        &::before,&::after {
            width: 100%;        
        }
    }
   }

    @include breakpoint (max-md){
        padding: 20px 32px;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }
}


.arrow-btn {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: -43px;
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background: $theme-color;
    color: $white;
    margin-top: -0.4em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    @include transition;
    &:hover{
        background: $theme-color-2;
        color: $title-color;
    }

    &.style2{
        background: $theme-color-2;
        color: $title-color;
        &:hover{  
            background: $theme-color;
            color: $white;
        }
    }
}

.btn-wrapper{
    position: relative;
    max-width: 146px;
    &:hover{
        .arrow-btn { 
            background: $theme-color-2;
            color: $title-color;
        }
        .theme-btn{
            background-color: $theme-color-2;
            color: $title-color;
        } 
    }
    &:hover{
        .arrow-btn { 
            &.style2{
                background: $title-color;
                color: $white;
            }
        }
        .theme-btn{
            &.style3{
                background-color: $title-color;
                color: $white;
            }
        } 
    }
}

.link-btn {
    display: inline-block;
    color: $text-color;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;

    i {
        margin-left: 10px;
        transform: rotate(-40deg);
        @include transition
    }

    &:hover {
        color: $theme-color-2;
        i {
            margin-left: 10px;
            transform: rotate(0);
        }
    }
}

//>>>>> Component Button End <<<<<//